<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>商品详情</title>

    <link rel="stylesheet" href="static/css/element-ui.css" />

    <style>
      #app {
        width: 500px;
        margin: 0 auto;
      }

      .promo-price {
        color: red;
      }
    </style>

    <script src="static/js/axios.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/vue-router.js"></script>
    <script src="static/js/element-ui.js"></script>
    <script src="static/js/request.js"></script>
  </head>

  <body>
    <div id="app">
      <h2 style="text-align: center;">商品详情</h2>
      <el-form>
        <el-form-item label="ID">
          {{detail.id}}
        </el-form-item>
        <el-form-item label="商品名称">
          {{detail.title}}
        </el-form-item>
        <el-form-item label="商品描述">
          {{detail.description}}
        </el-form-item>
        <el-form-item label="商品图片">
          <el-image
            :src="detail.imgUrl"
            style="width: 60px; height: 30px;"
            fit="conver"
          >
          </el-image>
        </el-form-item>

        <el-form-item label="商品价格">
          {{detail.price}}
        </el-form-item>

        <el-form-item label="商品销量">
          {{detail.sales}}
        </el-form-item>

        <el-form-item label="商品库存">
          {{detail.stock}}
        </el-form-item>

        <template v-if="detail.promoStatus != 0">
          <template v-if="detail.promoStatus == 1">
            <el-form-item label="秒杀开始时间">
              {{detail.startTime}}
            </el-form-item>
            <el-form-item label="秒杀价格">
              <span class="promo-price">{{detail.promoPrice}}</span>
            </el-form-item>
          </template>

          <template v-if="detail.promoStatus == 2">
            <el-form-item label="秒杀结束时间">
              {{detail.endTime}}
            </el-form-item>
            <el-form-item label="秒杀价格">
              <span class="promo-price">{{detail.promoPrice}}</span>
            </el-form-item>
          </template>

          <template v-else-if="detail.promoStatus == 3">
            <el-form-item label="秒杀活动">
              已结束
            </el-form-item>
          </template>
        </template>

        <el-form-item>
          <el-button @click.native.prevent="handleOrderClick"
            >{{buyButtonText}}</el-button
          >
        </el-form-item>
      </el-form>
    </div>

    <script>
      const router = new VueRouter({
        mode: "history", // 默认使用hash模式，url会出现#
      });

      new Vue({
        router,
        el: "#app",

        data() {
          return {
            detail: {},
          };
        },

        computed: {
          buyButtonText() {
            if (this.detail.promoStatus == 2) {
              return "秒杀下单";
            } else {
              return "立即下单";
            }
          },
        },

        methods: {
          async getData() {
            const res = await instance.get("/item/get", {
              params: { id: this.detail.id },
            });

            if (res.status == "success") {
              this.detail = res.data;
            }
          },

          async handleOrderClick() {
            const res = await instance.get("/order/create", {
              params: {
                itemId: this.detail.id,
                amount: 1,
                promoId: this.detail.promoId,
              },
            });

            if (res.status == "success") {
              this.$message.success("下单成功");
              setTimeout(() => {
                window.location.href = "/order-detail.html?id=" + res.data.id;
              }, 1500);
            }
          },
        },

        created() {
          this.detail.id = this.$route.query.id;

          if (this.detail.id) {
            this.getData();
          }
        },
      });
    </script>
  </body>
</html>
