<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>订单详情</title>

    <link rel="stylesheet" href="static/css/element-ui.css" />

    <style>
      #app {
        width: 500px;
        margin: 0 auto;
      }

      .promo-price {
        color: red;
      }
    </style>

    <script src="static/js/axios.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/vue-router.js"></script>
    <script src="static/js/element-ui.js"></script>
    <script src="static/js/request.js"></script>
  </head>

  <body>
    <div id="app">
      <h2 style="text-align: center;">订单详情</h2>
      <el-form>
        <el-form-item label="ID">
          {{detail.id}}
        </el-form-item>
        <el-form-item label="商品名称">
          {{detail.itemTitle}}
        </el-form-item>

        <el-form-item label="购买价格">
          {{detail.itemPrice}}
        </el-form-item>

        <el-form-item label="购买数量">
          {{detail.amount}}
        </el-form-item>

        <el-form-item label="购买总价格">
          {{detail.orderAmount}}
        </el-form-item>
      </el-form>
    </div>

    <script>
      const router = new VueRouter({
        mode: "history", // 默认使用hash模式，url会出现#
      });

      new Vue({
        router,
        el: "#app",

        data() {
          return {
            detail: {},
          };
        },

        methods: {
          async getData() {
            const res = await instance.get("/order/get", {
              params: { id: this.detail.id },
            });

            if (res.status == "success") {
              this.detail = res.data;
            }
          },
        },

        created() {
          this.detail.id = this.$route.query.id;

          if (this.detail.id) {
            this.getData();
          }
        },
      });
    </script>
  </body>
</html>
